<div class="content-container">
  <div *ngIf="shimmerEffect.shimmerActive" class="shimmer"></div>
  <div [chart]="lineChart"></div>
  <button
    class="runbtn"
    [disabled]="shimmerEffect.shimmerActive"
    [style.background]="shimmerEffect.shimmerActive ? '#bbccdd' : 'blue'"
    (click)="Run(); shimmerEffect.shimmering()"
    *ngIf="!runButtonClicked"
  >
    <i class="fa fa-caret-right fa-lg" style="padding-right: 5px"></i>Run
  </button>
  <app-bottom-bar *ngIf="bottomBarIsVisible"></app-bottom-bar>
</div>
