.footer{
    position:fixed;
    bottom:0;
    padding-left:20px;
    background-color: transparent;
    z-index: 3;
}
.load-btn{
    background-color: transparent;
    border:none;
    cursor:pointer;
    z-index: 1;
    &:hover{
        border-bottom: 2px solid black;
        font-weight: bold;
    }
}