.content-container {
  position: relative;
}

.run-button {
  position: fixed;
  bottom: 41px; /* Adjust the bottom value as per your requirement */
  right: 52px; /* Adjust the right value as per your requirement */
  background-color: blue;
  color: white;
  text-align: center;
  font-weight: bolder;
  font-size: medium;
  border: none;
  padding: 12px 15px;
  margin-right: 10px;
  cursor: pointer;
  z-index: 5;
  cursor: pointer;
  &:hover {
    background-color: blue;
    /* box-shadow: 0px 8px 12px grey; */
    transform: translateY(-2px);
  }
}
