.side-panel {
  position: fixed;
  top: 51px;
  right: 0px;
  width: 360px;
  height: 95%;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(80, 79, 79, 0.2);
  padding: 20px;
  box-sizing: border-box;
  z-index: 1;
}
.head {
  display: flex;
  position: absolute;
  top: 20px;
  left: 150px;
  justify-content: center;
  align-items: center;
}
.back {
  position: absolute;
  border: none;
  background: none;
  font-size: inherit;
  cursor: pointer;
}
.icon-close {
  border: none;
  cursor: pointer;
}
.value-box {
  display: inline-block;
  background-color: rgb(166, 190, 228);
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  .close-button {
    margin-left: 5px;
    cursor: pointer;
  }
}
.values-list {
  background-color: #ececec;
  padding: 10px;
  position: relative;
  z-index: 100;
  display: block;
  max-width: 240px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--color-text-primary);
  padding: 8px 0;
  &:hover {
    cursor: pointer;
  }
}
.All {
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  background-color: transparent;
  color: #2d6df6;
  text-decoration: underline;
  &:hover {
    cursor: pointer;
  }
}
.value {
  background-color: #ffffff;
  padding-top: 5px;
  padding-left: 2px;
}

.close-button {
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  visibility: hidden;
  opacity: 0.5;
}
.icon-delete {
  font-size: 15px;
}
.h2:hover .close-button {
  visibility: visible;
}

.close-sidepanel {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-left: 260px;
}
.icon-dot {
  margin-right: 10px;
  border: none;
  background-color: transparent;
}
.selection-box {
  margin-top: 50px;
  padding: 10px;
  background-color: #ececec;
  &-p2 {
    margin-top: 50px;
    padding: 10px;
    background-color: #ececec;
    &:hover {
      background-color: #ececec;
    }
  }
  & h4 {
    font-size: 16px;
    font-weight: 700;
    max-width: 130px;
    line-height: 150%;
    outline: none;
    display: flex;
    align-items: center;
    & .icon-menu {
      margin-left: 170px;
      font-size: 18px;
      border: none;
      font-weight: 400;
      background: transparent;
    }
    & .icon-expand {
      margin-right: 10px;
    }
    & .selection {
      margin-right: 5px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 600;
    }
  }
  &:hover {
    background-color: #dae5fc;
  }
  & .icon-expand {
    margin-right: 15px;
  }
}
.h2 {
  margin-top: 10px;
  margin-bottom: 5px;
  position: relative;
  font-family: "Trebuchet MS", sans-serif;
  padding: 10px;
  font-size: 15px;
  background-color: hsl(0, 0%, 100%);
  border-left: 3px solid #b1afaf;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  &-p2 {
    border-radius: 1px;
    position: relative;
    font-family: "Trebuchet MS", sans-serif;
    padding: 10px;
    font-size: 15px;
    background-color: #f2f2f2;
    border-bottom: 3px solid #c5c3c3;
    &:hover {
      background-color: #e6e6e6;
    }
    & input[type="checkbox"] {
      margin-right: 5px;
    }
  }
}
.bold {
  font-weight: bold;
}
.value-box-p2 {
  display: inline-block;
  background-color: #bdd1fc;
  padding: 3px;
  padding-left: 5px;
  margin: 2px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 14px;
  .close-button-p2 {
    margin-left: 5px;
    cursor: pointer;
  }
}
.selected-value {
  background-color: #e6e6e6; /* Change this to the desired background color */
}

.h1 {
  font-size: 15px;
  display: flex;
  justify-content: flex-end;
  margin-right: 5px;
  margin-top: 17px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 100;
  &-p2 {
    font-weight: 100;
    margin-left: 200px;
  }
}
.add {
  color: #2d6df6;
  font-style: normal;
  background: transparent;
  font-weight: 700;
  font-size: 11px;
  line-height: 16px;
  text-decoration: underline;
  padding: 4px;
  border: 0px;
  margin-top: 12px;
  cursor: pointer;
}
.h4-p2 {
  display: flex;
  align-items: center;
}

.selected-label {
  margin-right: 5px;
  background-color: rgb(207, 207, 207);
  color: rgb(0, 0, 0);
  padding: 1px 1px;
  margin-left: 6px;
}
.checkbox {
  padding: 8px;
}
