
.container-wrapper {
    display: flex;
    flex-direction: column;
    height: 85vh;
    margin-top: 60px;
    z-index:1;
    margin-bottom: 10px;
    background-color:#f2f2f2;
  }

  .container-card {
    flex-grow: 1;
    padding: 10px;
    border: 0.1px solid rgb(204, 204, 204);
    background-color: rgb(255, 255, 255);
    margin: 0% 12px;
    margin-bottom: 4px;
    margin-top: 39px;
    border-radius: 6px;
   
  }

  .container-card-header {
    display: flex;
    justify-content: space-between;
    margin: 0px 18px;
  }

  .vertical-line {
    border-left: 1px solid black;
    margin-bottom: 0px;
    margin-left: 15px;
    margin-right: 15px;

  }

  .footer{
    padding:0px;
    font-size: medium;
  }

  .material-symbols-outlined {
    background-color: transparent;
    font-size: 18px;
    color: black;
    border: none;
    padding: 8px;
    opacity: 1;
    transition-duration: 0.3s;
    cursor: pointer;
    &:hover{
      background-color: rgb(224, 224, 224);
      color: black;
      padding:8px;
    }
}    

.report-header {
  outline: none;
  border: none;
  border-bottom: 2px solid black;
  float: left;
  font-size: 25px;
  font-weight: 670;
  padding-left: 15px;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  &:hover {
    outline: none;
    border: none;
    box-shadow: 0px 8px 12px grey;
    transform: translateY(-2px);
    border-bottom: 1px solid black;
  }
}

.tab-header{
  border:none;
  outline:none;
  font-size:20px;
  font-weight:bold;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
  &:hover{
      border-bottom:2px solid black;
      box-shadow: 0px 8px 12px grey;
      transform: translateY(-1px);
    }
}



.container-card-inner {
  position: relative;
  overflow: hidden;
}

.shimmer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #f0f0f0 0%, #dedede 20%, #f0f0f0 40%);
  background-size: 1000px 100%;
  animation: shimmer 1s infinite linear forwards;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.shimmer.active {
  overflow-y: hidden;
}

body {
  overflow-x: hidden;
}
