<div class="background">
    <!-- <div class="shimmer"></div> -->
    <div class="dialogbox">
      <mat-icon *ngIf="
          currentContentType === contentType.Dataset ||
          currentContentType === contentType.ViewPoint
        " class="back" mat-dialog-close>←</mat-icon>
  
      <div class="head" [ngStyle]="{ 'padding-left': currentContentType === contentType.SourceType? '8%':'14%', }">
        {{ heading }}
      </div>
  
      <mat-icon class="cut" aria-hidden="false" aria-label="Example cross icon" (click)="showDataSelector()"
        mat-dialog-close>X</mat-icon>
  
      <div class="dataset-header-container">
        <p *ngIf="
            currentContentType === contentType.Dataset ||
            currentContentType === contentType.ViewPoint
          " class="context_5">
          Choose a dataset
        </p>
        <div *ngIf="
            currentContentType === contentType.Dataset ||
            currentContentType === contentType.ViewPoint
          ">
          <img src="../../assets/images/loupe.png" alt="search icon" />
          <input class="report-header" type="text" id="report-header" size="15" />
        </div>
      </div>
  
      <div class="scrollable-container"
        [ngStyle]="{ 'height': currentContentType === contentType.SourceType? '75%':'55%', }">
        <div class="container" *ngFor="let item of sourcelist; let i = index" [ngStyle]="{
            height:
              currentContentType === contentType.SourceType
                ? '29%'
                : currentContentType === contentType.Dataset
                ? '15%'
                : '25%',
            'padding-left':
              currentContentType === contentType.Dataset ? '1%' : '6px'
          }">
          <div class="inside-container" *ngIf="currentContentType === contentType.SourceType">
            <mat-icon class="icon" aria-hidden="false" aria-label=" home icon"></mat-icon>
          </div>
  
          <div class="content content_1">
            <div class="content-wrapper">
              <ng-container *ngIf="
                  currentContentType === contentType.SourceType ||
                  currentContentType === contentType.ViewPoint
                ">
                <span class="content-title">{{ item.title }}</span>
              </ng-container>
              <ng-container *ngIf="currentContentType === contentType.Dataset">
                <span class="content-title-small">{{ item.title }}</span>
              </ng-container>
              <br *ngIf="currentContentType === contentType.SourceType" />
  
              <span *ngIf="currentContentType === contentType.SourceType" class="content-description">{{ item.description
                }}</span>
            </div>
          </div>
  
          <div class="checkbox" [ngStyle]="{
              'padding-right': '10px',
              'min-width': '10%',
              'max-width': '10%'
            }">
            <input type="{{
                currentContentType === contentType.ViewPoint
                  ? 'radio'
                  : 'checkbox'
              }}" name="option{{ i }}" [value]="item['checkboxValue']" [(ngModel)]="item['checkboxValue']"
              class="checkbox1" (click)="checkboxClick(item.title)" />
          </div>
        </div>
      </div>
  
      <div class="bottom-side" [ngStyle]="{ 'height': currentContentType === contentType.SourceType? '17%':'10%',}">
        <div style="flex-grow: 1"></div>
        <div class="buttons">
          <div class="buttons-padding"></div>
          <div>
            <button class="cancel"  (click)="showDataSelector()">
              Cancel
            </button>
          </div>
  
          <div class="content-wrapper">
            <div class="border-next" *ngIf="
                currentContentType === contentType.SourceType ||
                currentContentType === contentType.Dataset
              ">
              <button class="next" [disabled]="!isAtLeastOneCheckboxSelected" (click)="onNext()" [ngStyle]="{
                  'background-color': isAtLeastOneCheckboxSelected
                    ? 'blue'
                    : '#bbccdd'
                }">
                Next
              </button>
            </div>
          </div>
  
          <div *ngIf="currentContentType === contentType.ViewPoint">
            <button class="apply" [disabled]="!isAtLeastOneCheckboxSelected" [style.background]="
                isAtLeastOneCheckboxSelected ? 'blue' : '#bbccdd'
              " (click)="showDataSelector(); updateFooterString()" >
              Apply Dataset
            </button>
            
          </div>
        </div>
      </div>
    </div>
  </div>