@import 'node_modules/ag-grid-community/styles/ag-grid.css';
@import 'node_modules/ag-grid-community/styles/ag-theme-alpine.css';


.ag-theme-alpine {
    height: 100%;
  }

  .ag-theme-alpine{
    --ag-header-background-color: white;
    --ag-odd-row-background-color: white;
    --ag-background-color: white;
    --ag-border-color: black;
  }
  .ag-header-cell.title-class {
    border-right: 1px solid black;
  }
  .ag-ltr .ag-cell {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
 }
.text-align-right {
  text-align: right !important;
}