@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

$color-primary: #ffffff;

.right {
  flex: 1 1 auto;
}
.logo {
  color:rgb(4, 0, 250);
  font-weight: bolder;
}
.pic{
  margin-left: 20px;
  margin-top: 2px;
}
.dis{
  font-weight:bolder;
  font-size: 27px;
  font-family: Helvetica;
  margin-top: 3px;
}
.brand-bar {
  font-size:25px;
  background-color: $color-primary;
  color: #202020;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
  z-index:2;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  border-bottom: 2px solid #469bf7;

  &__nav{
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    border: none;
    font-size:15px;
    font-style: normal;
    padding-left: 20px;
    cursor:pointer;
    margin: 0;
    background-color: $color-primary;

    &-item{
    padding: 0;
    border: none;
    font-size:18px;
    font-style: normal;
    font-family: calibri;
    padding-left: 20px;
    cursor:pointer;
    margin: 0;
    background-color: $color-primary;

    &.active {
      font-weight: bold;text-decoration: underline;
      text-decoration-color: rgb(0, 102, 255);
      text-decoration-thickness: 5px;
      text-underline-offset: 15px;
    }
    &:hover {
      text-decoration: underline;
      text-decoration-color: rgb(0, 102, 255);
      text-decoration-thickness: 5px;
      text-underline-offset: 15px;
      transition: text-underline-offset 0.9s ease-in-out;
    }
  }
}
}

.but{
  padding: 0;
    border: none;
    font-size:20px;
    font-style: normal;
    padding-left: 20px;
    cursor:pointer;
    margin: 0;
    background-color: $color-primary;
}

.nabut{
    padding-left: 2px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    cursor:pointer;
    background-color: $color-primary;

    &:hover {
      text-decoration: underline;
      text-decoration-color: rgb(0, 102, 255);
      text-decoration-thickness: 5px;
      text-underline-offset: 15px;
      transition: text-underline-offset 0.9s ease-in-out;
  }
}
