/* You can add global styles to this file, and also import other style files */
@import "node_modules/ag-grid-community/styles/ag-grid.css";
@import "node_modules/ag-grid-community/styles/ag-theme-alpine.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// .ag-theme-alpine{
//   --ag-header-background-color: white;
//   --ag-odd-row-background-color: white;
//   --ag-background-color: white;
//   --ag-border-color: black;
// }
.ag-header-cell.title-class {
  border-right: 1px solid #babfc7;
}
.ag-ltr .ag-cell {
  border-right: 1px solid #babfc7;
  border-bottom: 1px solid #babfc7;
}
.text-align-right {
  text-align: right !important;
}
